@model iBizSMSV1R1.Models.ClassVideo

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutClassroomAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ClassVideo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.recno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.recno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subjectname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subjectname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lessonno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lessonno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.lessontitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.lessontitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.videolink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.videolink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.recordno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
