@model IEnumerable<iBizSMSV1R1.Models.GradeYear>

@{
    ViewData["Title"] = " Grade Years";
    Layout = "~/Views/Shared/_LayoutOtherEntryRegistrar.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <span id="headers" class="container Headers-Reverse">@ViewData["Title"]</span>
        </div>
        <div class="col-sm-6 text-end">
            <a class="btn btn-primary button-small" asp-controller="GradeYears" asp-action="Create">Add New</a>
        </div>
    </div>
</div>
<div class="Form-Body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.studentlevels)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gradeyears)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.studentlevels)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gradeyears)
                    </td>
                    <td>
                        <a class="btn btn-warning button-small" asp-action="Edit" asp-route-id="@item.recno">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>