@model iBizSMSV1R1.Models.BillToPay

@{
    ViewData["Title"] = "Edit Bill To Pay";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
     var message = ViewBag.Message;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @*<partial name="_AdmissionMenu" />*@
        </div>
        <div class="col-sm-12">
            @*<h6>@ViewData["Title"]</h6>*@
            @{
                if (@message != null)
                {
                    if (@message != "")
                    {
                        <span>"@message"</span>
                    }
                }

            }
        </div>
    </div>
</div>
<div class="container">
    <h6 id="module-views">@ViewData["Title"]</h6>
</div>
<hr />
<div class="Form-Body">
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger input-text-sm"></div>
                <input type="hidden" asp-for="recno" />
                <input type="hidden" asp-for="id" />
                <div class="row">
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="referenceno" class="control-label"></label>
                        <input asp-for="referenceno" class="form-control input-text-sm" readonly/>
                        <span asp-validation-for="referenceno" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="schoolyear" class="control-label"></label>
                        <input asp-for="schoolyear" class="form-control input-text-sm" readonly/>
                        <span asp-validation-for="schoolyear" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="billnames" class="control-label"></label>
                        <input asp-for="billnames" class="form-control input-text-sm" readonly/>
                        <span asp-validation-for="billnames" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="billdate" class="control-label"></label>
                        <input asp-for="billdate" class="form-control input-text-sm" readonly/>
                        <span asp-validation-for="billdate" class="text-danger input-text-sm"></span>
                    </div>
                </div>
                <div class="row">

                    <div class="form-group  col-sm-3 required">
                        <label asp-for="amount" class="control-label"></label>
                        <input asp-for="amount" class="form-control input-text-sm" readonly/>
                        <span asp-validation-for="amount" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="duedate" class="control-label"></label>
                        <input asp-for="duedate" class="form-control input-text-sm" />
                        <span asp-validation-for="duedate" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="payment" class="control-label"></label> <br>
                        <input type="checkbox" name="payment" asp-for="payment" />
                        <span asp-validation-for="payment" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="paymenttype" class="control-label"></label> <br>
                        <input asp-for="paymenttype" class="form-control input-text-sm" readonly />
                        <span asp-validation-for="paymenttype" class="text-danger input-text-sm"></span>
                    </div>
                </div>
                <div class="row">
                    
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="paymentoffice" class="control-label"></label> <br>
                        <input asp-for="paymentoffice" class="form-control input-text-sm" readonly />
                        <span asp-validation-for="paymentoffice" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="confirm" class="control-label"></label> <br>
                        <input type="checkbox" name="confirm" asp-for="confirm" />
                        <span asp-validation-for="confirm" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">
                        <label asp-for="confirmedby" class="control-label"></label>
                        <input type="hidden" class="form-control form-check-input input-text-sm" asp-for="confirmedby" value="@ViewBag.LoginID" readonly="readonly" />
                        <span asp-validation-for="confirmedby" class="text-danger input-text-sm"></span>
                    </div>
                    <div class="form-group  col-sm-3 required">

                    </div>                                  
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-warning  button-small" />
                </div>
            </form>
        </div>
        <div class="col-sm-12">
            <div class="form-group text-end">
                <a asp-action="Index" class="btn btn-primary button-small" asp-route-id="@Model.id" asp-route-referenceno="@Model.referenceno">Cancel</a>
            </div>
        </div>
    </div>
    @*<div class="row">
        <div class="form-group  col-sm-3">
            <input type="submit" value="Save" class="btn btn-warning button-small" />
        </div>
        <div class="form-group  col-sm-3 ">

        </div>
        <div class="form-group  col-sm-3 ">

        </div>
        <div class="form-group col-sm-3 text-end">
            <a asp-action="Index" class="btn btn-primary button-small" asp-route-referenceno="@Model.referenceno">Cancel</a>
        </div>
    </div>
    </form>*@
@*</div>
    </div>*@

</div>
