@model iBizSMSV1R1.ViewModels.UserClaimsViewModel

@{
    ViewData["Title"] = "Manage User Claims";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userid = ViewData["UserId"];
    var UserClaims = ViewBag.UserClaims;
    var message = ViewBag.Message;

    //var userclaimlist = "";

    //if(UserClaims != null)
    //{
    //    foreach (var item in UserClaims)
    //    {
    //        userclaimlist = userclaimlist + " " + item.Value;
    //    }

    //}

}

<div class="container">
    @{
        if (@message != null)
        {
            if (@message != "")
            {
                <div class="alert alert-info alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>MESSAGE!!! </strong> "@message"
                </div>
            }
        }
    }
</div>

<div class="container">
    <h6 id="module-views">@ViewData["Title"]</h6>
</div>

<hr />
<div class="Form-Body">
    <div class="row">
        <div class="col-sm-12">
            <form  method="post">
                <div class="card">
                    <h6>Manage User Claims</h6>
                </div>
                <div class="card-body">                    

                    @for (int i = 0; i < Model.Claims.Count; i++)
                    {
                        <div class="form-check m-1">
                        <input type="hidden" asp-for="@Model.Claims[i].ClaimType" />
                        <input asp-for="@Model.Claims[i].IsSelected" />
                        <label class="form-check-label" asp-for="@Model.Claims[i].IsSelected">@Model.Claims[i].ClaimType</label>
                        </div>
                        <span asp-validation-summary="All" class="text-danger"></span>
                    }
                   
                </div>
                <div class="card-footer">
                    <input type="submit" value="Update" class="btn btn-primary button-small" style="width:auto" />
                    <a asp-action="UserList" asp-route-search_data="@ViewBag.SearchData" class="btn btn-warning button-small">CANCEL</a>
                </div>
            </form>            
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
