
@model iBizSMSV1R1.ViewModels.ResetUserPasswordViewModel

@{
    ViewBag.Title = "Reset User Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var username = ViewBag.Username.ToString();
    var userid = ViewBag.UserId.ToString();
}

<h4>Reset your password.</h4>
<hr />
<div class="row">
    <div class="col-sm-12">
        <form asp-controller="SystemUser" asp-action="ResetUserPassword" asp-route-search_data="@ViewBag.SearchData"  method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Code" type="hidden" />
            <input asp-for="UserId" type="hidden" value="@userid" readonly="readonly"/>
            @*<div class="form-groupreadonly
                <label asp-for="UserId" class="control-label">UserName</label>
                <input asp-for="UserId" class="form-control input-text" value="@userid" readonly="readonly" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Username" class="control-label">UserName</label>
                <input asp-for="Username" class="form-control input-text" value="@username" readonly="readonly" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Password</label>
                <input asp-for="Password" class="form-control input-text" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label">Confirm Password</label>
                <input asp-for="ConfirmPassword" class="form-control input-text" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger button-small">Reset</button>
        </form>
        <div class="form-group text-end">
            <a asp-action="UserList" asp-route-search_data="@ViewBag.SearchData" class="btn btn-warning button-small">CANCEL</a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}