
@using iBizSMSV1R1.Controllers

@{
    var eventdetails = ViewBag.EventDetails;
    var events = ViewBag.Event;
    var title = "";
    var tagline = "";
    var eventtitle = "";
    var icon = "";
    var description = "";
    var controller = "";
    var action = "";
    var base64 = "";
    var imgSrc = "";
}



@foreach (var item in eventdetails)
{
    base64 = Convert.ToBase64String(item.image);
    imgSrc = String.Format("data:image/gif;base64,{0}", base64);
    <!-- event single -->
    <section class="section-sm">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="section-title">@item.eventtitle</h2>
                </div>
                <!-- event image -->
                <div class="col-12 mb-4">
                    <img src="@imgSrc" alt="event thumb" class="img-fluid w-100">
                </div>
            </div>


            <!-- event info -->
            <div class="row align-items-center mb-5">
                <div class="col-lg-9">
                    <ul class="list-inline">
                        <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
                            <div class="d-flex align-items-center">
                                <i class="ti-location-pin text-primary icon-md mr-2"></i>
                                <div class="text-left">
                                    <h6 class="mb-0">LOCATION</h6>
                                    <p class="mb-0">@item.venue</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
                            <div class="d-flex align-items-center">
                                <i class="ti-calendar text-primary icon-md mr-2"></i>
                                <div class="text-left">
                                    <h6 class="mb-0">DATE and Time</h6>
                                    <p class="mb-0">@item.eventdate</p>
                                </div>
                            </div>
                        </li>
                        @*<li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
                                <div class="d-flex align-items-center">
                                    <i class="ti-time text-primary icon-md mr-2"></i>
                                    <div class="text-left">
                                        <h6 class="mb-0">TIME</h6>
                                        <p class="mb-0">04: 00 pm</p>
                                    </div>
                                </div>
                            </li>*@
                        @*<li class="list-inline-item mr-xl-5 mr-4 mb-3 mb-lg-0">
                            <div class="d-flex align-items-center">
                                <i class="ti-wallet text-primary icon-md mr-2"></i>
                                <div class="text-left">
                                    <h6 class="mb-0">ENTRY FEE</h6>
                                    <p class="mb-0">FREE</p>
                                </div>
                            </div>
                        </li>*@
                    </ul>
                </div>
                <div class="col-lg-3 text-lg-right text-left">
                    <a href="#" class="btn btn-primary">Register Now</a>
                </div>
                <!-- border -->
                <div class="col-12 mt-4 order-4">
                    <div class="border-bottom border-primary"></div>
                </div>
            </div>
            <!-- event details -->
            @*<div class="row">
                <div class="col-12 mb-50">
                    <h3>About @item.eventtitle</h3>
                    <p>
                        @Html.Raw(item.eventdetails)
                    </p>
                </div>
            </div>*@
            <!-- event speakers -->
            <!--<div class="row">
                <div class="col-12">
                    <h3 class="mb-4">Event Speaker</h3>
                </div>-->
                <!-- speakers -->
                <!--<div class="col-lg-3 col-sm-6 mb-4 mb-lg-0">
                    <div class="media">
                        <img class="mr-3 img-fluid" src="~/images/event-speakers/@item.imagelink" alt="speaker">
                        <div class="media-body">
                            <h6 class="mt-0">@Html.Raw(item.speakername)</h6>
                            Teacher
                        </div>
                    </div>
                </div>-->

                <!-- border -->
                <!--<div class="col-12 mt-4 order-4">
                    <div class="border-bottom border-primary"></div>
                </div>
            </div>-->
        </div>
    </section>
    <!-- /event single -->
    break;
}

<!-- events -->
<section class="section bg-gray">
    <partial name="_Events" />
</section>
<!-- /events -->