
@using iBizSMSV1R1.Controllers

@{
    var webpages = HomeController.getWebPages("Events");
    var subwebpages = HomeController.getEvents();
    var counter = 0;
    var base64 = "";
    var imgSrc = "";
}



    <div class="container">
        @foreach (var item in webpages)
        {
            <div class="row">
                <div class="col-12">
                    <div class="d-flex align-items-center section-title justify-content-between">
                        <h2 class="mb-0 text-nowrap mr-3">@item.tagline</h2>
                        <div class="border-top w-100 border-primary d-none d-sm-block"></div>
                        <div>
                            <a asp-controller="@item.title" asp-action="@item.subtitle" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">See All</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row justify-content-center">
        @foreach (var item in subwebpages)
        {
            counter++;
            //var imagename = "event-" + counter.ToString() + ".jpg";
            <!-- event -->
            base64 = Convert.ToBase64String(item.image);
            imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <div class="card-img position-relative">
                        <img class="card-img-top rounded-0" src="@imgSrc" alt="event thumb">
                        @*<div class="card-date"><span>18</span><br>December</div>*@
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <p><i class="@item.icon text-primary mr-2"></i>@item.tagline</p>
                        <a asp-controller="Home" asp-action="EventDetails" asp-route-recno="@item.recno" class="card-title btn btn-primary button-small"><h4 class="card-title">Show Details</h4></a>
                        @*<a asp-controller="Home" asp-action="EventDetails" asp-route-recno="@item.recno"><h4 class="card-title">@Html.Raw(item.description)</h4></a>*@
                    </div>
                </div>
            </div>
            <!-- event -->
            if (counter == 3)
            {
                break;
            }
        }
       
        <!-- mobile see all button -->
        @*<div class="row">
            <div class="col-12 text-center">
                <a asp-controller="Home" asp-action="Courses" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
            </div>
        </div>*@
    </div>