@using iBizSMSV1R1.Controllers

@{
    var webpages = HomeController.getWebPages("MainPageSlider");
    string imagelink = "";
    var base64 = "";
    var imgSrc = "";

    string[] fly = {"fadeOutRight","fadeOutUp","fadeOutDown","fadeOutLeft"};
    string[] fade = {"fadeInRight","fadeInUp","fadeInDown","fadeInLeft"};
    int counter = 0;
}

<style>
    .spacing {
        padding-top: 200px;
       /* padding-bottom: 20px;*/
        padding-left: 50px;
        /*padding-right: 20px;*/
    }
</style>
    @*<section class="hero-section overlay bg-cover" data-background="images/banner/banner-1.jpg">*@
        @*<section class="hero-section overlay bg-cover" data-background="@imagelink" ;">*@
            <div class="container-fluid">
                <div class="hero-slider">
                    <!-- slider item -->
                    @foreach (var item in webpages)
                    {
                        if(counter == 4)
                        {
                            counter = 0;
                        }
                        
                        base64 = Convert.ToBase64String(item.image);
                        imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                        <div class="hero-slider-item" style="background-image: url(@imgSrc)">
                            <div class="row spacing">
                                <div class="col-sm-10">
                                    <h2 class="text-white" data-animation-out="@fly[counter]" data-delay-out="5" data-duration-in=".3" data-animation-in="@fade[counter]" data-delay-in=".1">@item.tagline</h2>
                                    <h4 class="text-white" data-animation-out="@fly[counter]" data-delay-out="5" data-duration-in=".3" data-animation-in="@fade[counter]" data-delay-in=".4" >
                                        @Html.Raw(item.description)
                                    </h4>                                  
                                    @*<a class="btn btn-primary" data-animation-out="@fly[counter]" data-delay-out="5" data-duration-in=".3" data-animation-in="@fade[counter]" data-delay-in=".7" href="#" data-toggle="modal" data-target="#signupModal">JOIN US</a>*@
                                </div>
                            </div>
                        </div>
                        counter++;
                    }
                    @*<div class="hero-slider-item">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Your bright future is our mission</h1>
                                <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer
                                </p>
                                <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
                            </div>
                        </div>
                    </div>*@
                    <!-- slider item -->
                    @*<div class="hero-slider-item">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 class="text-white" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Your bright future is our mission</h1>
                                <p class="text-muted mb-4" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".4">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer
                                </p>
                                <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutUp" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".7">Apply now</a>
                            </div>
                        </div>
                    </div>*@
                    <!-- slider item -->
                    @*<div class="hero-slider-item">
                        <div class="row">
                            <div class="col-md-8">
                                <h1 class="text-white" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Your bright future is our mission</h1>
                                <p class="text-muted mb-4" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".4">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor
                                    incididunt ut labore et
                                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exer
                                </p>
                                <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutDown" data-delay-out="5" data-duration-in=".3" data-animation-in="zoomIn" data-delay-in=".7">Apply now</a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        @*</section>*@
