

@using iBizSMSV1R1.Controllers

@{
    var webpages = HomeController.getWebPages("Teachers");
    var subwebpages = HomeController.getTeachers();
    var counter = 0;
    var teacherrecno = 0;
}

<div class="container">
    <div class="row justify-content-center">

        @foreach (var item in webpages)
        {
            <div class="col-12">
                <h2 class="section-title">@item.tagline</h2>
            </div>
        }

        @foreach (var item in subwebpages)
        {
            counter++;
            //var imagename = "teacher-" + counter.ToString() + ".jpg";
            <!-- teacher -->
            <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
                <div class="card border-0 rounded-0 hover-shadow">
                    <img class="card-img-top rounded-0" src="~/images/teachers/@item.link" alt="teacher">
                    <div class="card-body">
                        <a asp-controller="Home" asp-action="TeacherDetails" asp-route-recno="@item.recno">
                            <h4 class="card-title">@item.fullname</h4>
                        </a>
                        <p>@item.category @item.specialization</p>
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-google"></i></a></li>
                            <li class="list-inline-item"><a class="text-color" href="#"><i class="ti-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- teacher -->
        }
       
    </div>
</div>