@model iBizSMSV1R1.ModelsAccounting.BankAccount

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAccountingAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>BankAccount</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bankname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bankname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.branch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.branch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accounttype)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accounttype)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.accountno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.accountno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.recno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
