@model iBizSMSV1R1.ViewModels.ReNewEMailAddress
@{
    ViewData["Title"] = "Change Email Address";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    var message = ViewBag.Message;
    var UserName = ViewBag.UserName;
    var UserID = ViewBag.UserID;
    var EMail = ViewBag.EMail;
    var IsEMailConfirmed = ViewBag.EMailConfirmed;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <partial name="_AccountSystemSettings" />
        </div>
        <div class="col-sm-12">
            <partial name="_MessageAlert" />
            <h6>@ViewData["Title"]</h6>
            <div class="col-md-6">
                <form id="email-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="UserId" type="hidden" value="@UserID" />
                    <input asp-for="Username" type="hidden" value="@UserName" />
                    <input asp-for="IsEmailConfirmed" type="hidden" value="@IsEMailConfirmed" />
                    <input asp-for="Code" type="hidden" />

                    <div class="form-group">
                        <label>Old Email Address</label>
                        @if (IsEMailConfirmed)
                        {
                            <div class="input-group">
                                <input name="OldEMail" class="form-control input-text" readonly="readonly" value="@EMail" style="height:38px" />
                                <div class="input-group-append">
                                    <span class="input-group-text text-success font-weight-bold" style="height:38px">✓</span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <input name="OldEMail" class="form-control input-text" readonly="readonly" value="@EMail" style="height:38px" />
                            <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="NewEmail"></label>
                        <input asp-for="NewEmail" class="form-control input-text" style="height:38px" />
                        <span asp-validation-for="NewEmail" class="text-danger input-text"></span>
                    </div>
                    <label></label><br />
                    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary">Change email</button>
                </form>
            </div>
        </div>

    </div>
</div>
