@model iBizSMSV1R1.Models.StudentDocument

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StudentDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.documentname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.documentname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagedata)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagedata)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.recno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
