@model IEnumerable<iBizSMSV1R1.Models.StudentDocument>

@{
    ViewData["Title"] = "My Documents";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml"; 
    var message = ViewBag.Message;
    var id = ViewBag.ID;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <partial name="_StudentProfileMenu" />
        </div>
        <div class="col-sm-12">
            <partial name="_MessageAlert" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h6>@ViewData["Title"]</h6>
        </div>
        <div class="col-sm-6 text-end">
            <a class="btn btn-primary button-medium" asp-controller="StudentDocuments" asp-action="Create" asp-route-id="@id">Upload Document</a>
        </div>

    </div>
</div>
<div class="Form-Body">
    <table class="table">
        <thead>
            <tr>
                @*<th>
            @Html.DisplayNameFor(model => model.id)
        </th>*@
                <th>
                    @Html.DisplayNameFor(model => model.documentname)
                </th>
                @*<th>
            @Html.DisplayNameFor(model => model.imagedata)
        </th>*@
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @*<td>
            @Html.DisplayFor(modelItem => item.id)
        </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.documentname)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.imagedata)
        </td>*@
                <td>
                    <a class="btn btn-warning button-small" asp-action="Edit" asp-route-recno="@item.recno" asp-route-id="@item.id">Edit</a>
                </td>
                <td>
                    <a class="btn btn-warning button-small" asp-action="DownLoadFile" asp-route-id="@item.recno">Download</a>                
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>