@*@model IEnumerable<iBizSMSV1R1.Models.Subject>*@
@model ReflectionIT.Mvc.Paging.PagingList<iBizSMSV1R1.Models.Subject>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Subjects";
    Layout = "~/Views/Shared/_LayoutClassroomAdmin.cshtml";
    var message = ViewBag.Message;
    var SearchString = ViewBag.SearchString;
    var idno = ViewBag.IdNo;
    var pagedivider = 40;
    var pageno = ViewBag.Page;
    var pagemin = 1;
    var recordcount = ViewBag.RecordCount;
    var remainder = recordcount % pagedivider;
    var pagemax = (recordcount / pagedivider) + remainder;
    var pagenext = pagemax;
    var pageprev = 1;

    if (pageno == pagemax)
    {
        pagenext = pagemax;
    }
    else
    {
        pagenext = ViewBag.Page + 1; ;
    }

    if (pageno == pagemin)
    {
        pageprev = pagemin;
    }
    else
    {
        pageprev = ViewBag.Page - 1; ;
    }
    int pagecount = 0;

}

<div class="container">
    @{
        if (@message != null)
        {
            if (@message != "")
            {
                <div class="alert alert-info alert-dismissible fade show">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>MESSAGE!!! </strong> "@message"
                </div>
            }
        }
    }
</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2 text-justify">
                @*<span id="headers" class="container Headers-Reverse">@ViewData["Title"]</span>*@
                <a class="btn btn-primary button-medium input-text-sm" asp-controller="AdminSubjects" asp-action="Create"><strong><b> @ViewData["Title"] </b></strong> (Add New) </a>
            </div>
            <div class="col-sm-7 text-end">
                <form asp-controller="AdminSubjects" asp-action="Index" method="get">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> KR </label>
                                    <input type="radio" id="record10" name="SearchString" value="Kinder"> 
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> N1 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Nursery 1">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> N2 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Nursery 2">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G1 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 1">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G2 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 2">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G3 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 3">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G4 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 4">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G5 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 5">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G6 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 6">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G7 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 7">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G8 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 8">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G9 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 9">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G10 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 10">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G11 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 11">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"> G12 </label>
                                    <input type="radio" id="record10" name="SearchString" value="Grade 12">
                                </div>
                                <div class="col-sm-3">
                                    <label class="control-label" for="record10"></label>
                                    <input type="submit" id="record10" class="btn btn-warning button-small" value="Filter">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-3 text-justify">
                <form asp-controller="AdminSubjects" asp-action="Index" method="get">
                    <input type="text" name="SearchString" class="" style="border-radius:2px; margin-bottom:2px" />
                    <input type="submit" value="S" class="btn  btn-primary button-medium input-text-sm" style="padding-left:15px;padding-right:15px">
                </form>
            </div>

        </div>
    </div>
<div class="Form-Body">
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.studentlevel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.gradeyear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.semester)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.category)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.subjectcode)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.subjectname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.noofhours)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.studentlevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gradeyear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subjectcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subjectname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.noofhours)
                </td>
                <td>
                    <a class="btn btn-warning button-small" asp-action="Edit" asp-route-id="@item.recno">Edit</a>
                </td>
                <td>
                    <a class="btn btn-primary button-small" asp-controller="AdminClassVideos" asp-action="Index" asp-route-recno="@item.recno" asp-route-subjectname="@item.subjectname">Video Links</a>
                </td>
                <td>
                    <a class="btn btn-success button-small" asp-controller="AdminClassModules" asp-action="Index" asp-route-recno="@item.recno" asp-route-subjectname="@item.subjectname">Video Modules</a>
                </td>
                <td>
                    <a class="btn btn-secondary button-small" asp-controller="AdminClassLiveStreams" asp-action="Index" asp-route-recno="@item.recno" asp-route-subjectname="@item.subjectname">Video Live Stream Links</a>
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>

@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        <div>
            <ul class="pagination" style="margin-top:10px">
                <li id="nav-first" class="page-item"><a class="page-link" href="~/AdminSubjects/Index?page=@pagemin&pagedivider=@pagedivider&SearchString=@SearchString">First</a></li>
                <li id="nav-previous" class="page-item"><a class="page-link" href="~/AdminSubjects/Index?page=@pageprev&pagedivider=@pagedivider&SearchString=@SearchString">Previous</a></li>


                @{
                    pagecount = recordcount / pagedivider;
                    if (remainder > 0)
                    {
                        pagecount = pagecount + 1;
                    }

                    for (int i = 1; 0 < pagecount; i++)
                    {
                        <li class="page-item"><a class="page-link" href="~/AdminSubjects/Index?page=@i&pagedivider=@pagedivider&SearchString=@SearchString">@i</a></li>
                        pagecount--;
                    }
                }
                <li id="nav-Next" class="page-item"><a class="page-link" href="~/AdminSubjects/Index?page=@pagenext&pagedivider=@pagedivider&SearchString=@SearchString">Next</a></li>
                <li id="nav-last" class="page-item"><a class="page-link" href="~/AdminSubjects/Index?page=@pagemax&pagedivider=@pagedivider&SearchString=@SearchString">Last</a></li>
            </ul>
        </div>

    }
}