@model IEnumerable<iBizSMSV1R1.Models.WebPageContact>

@{
    ViewData["Title"] = "Contact Information";
    Layout = "~/Views/Shared/_LayoutWebpage.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <span id="headers" class="container Headers-Reverse">@ViewData["Title"]</span>
        </div>
        <div class="col-sm-6 text-end">
            <a class="btn btn-primary button-small" asp-controller="WebPageContacts" asp-action="Create">Add New</a>
        </div>
    </div>
</div>
<div class="Form-Body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fullname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.cellphoneno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.landlineno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.emailadd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.website)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.latitude)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cellphoneno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.landlineno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emailadd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.longitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.latitude)
                </td>
                <td>
                    <a class="btn btn-warning button-small" asp-action="Edit" asp-route-id="@item.recno">Edit</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>