@model IEnumerable<iBizSMSV1R1.Models.ClassSchedule>

@{
    ViewData["Title"] = "Class Schedule";
    Layout = "~/Views/Shared/_LayoutClassroomAdmin.cshtml";

}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <span id="headers" class="container Headers-Reverse">@ViewData["Title"]</span>
        </div>
        <div class="col-sm-6 text-end">
            <a class="btn btn-primary button-small" asp-controller="AdminClassSchedules" asp-action="Create">Add New</a>
        </div>
    </div>
</div>
<div class="Form-Body">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.schoolyear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.studentgradeyear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.section)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.teacher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.subjectcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.subjectname)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.weekday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.roomno)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.starttime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.endtime)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.schoolyear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.studentgradeyear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.section)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.teacher)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subjectcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subjectname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.weekday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.roomno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.starttime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endtime)
                </td>

                <td>
                    <a class="btn btn-warning button-small" asp-action="Edit" asp-route-id="@item.recno">Edit</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>