@model iBizSMSV1R1.Models.WebPageSuccessStory

@{
    ViewData["Title"] = "Details of Success Story";
    Layout = "~/Views/Shared/_LayoutWebPage.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SuccessStory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.subtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.subtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.storydate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.storydate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.paragraph1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.paragraph1)
        </dd>
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.icon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.icon)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.controller)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.controller)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.action)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.action)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.recno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
